<h3><%= t 'gist.title' %></h3>
<table>
  <tr>
    <th><%= t 'gist.table.question' %></th>
    <th><%= t 'gist.table.url' %></th>
    <th><%= t 'gist.table.email' %></th>
  </tr>
  <%= render @gists %>
</table>
