<%= form_with model: @user, local: true do |form| %>
  <%= render 'shared/errors', resource: @user %>

  <% if flash[:alert] %>
    <%= flash_message %>
  <% end %>

  <p>
    <%= form.label :name %> <br>
    <%= form.text_field :name, id: :user_name %>
  </p>

  <p>
    <%= form.label :email %> <br>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <p>
    <%= form.label :password %> <br>
    <%= form.password_field :password, id: :user_password %>
  </p>

  <p>
    <%= form.label :password_confirmation %> <br>
    <%= form.password_field :password_confirmation, id: :password_confirmation %>
  </p>

  <p>Already registered? <%= link_to 'Login', 'login'%></p>

  <div>
    <%= form.submit %>
  </div>
<% end %>
