<h1>Passing the <%= @test_passage.test.title %></h1>
<%= content_tag :div, 
                '', 
                class: 'test-progressbar', 
                data: { 
                  current_question: @test_passage.current_question_number,
                  amount_questions: @test_passage.questions.count
                } %>

<%= @test_passage.current_question_number %> questions out of <%= @test_passage.questions.count %>

<%= content_tag :div, 
                class: 'timer', 
                data: { time_left: @time_left } do %>
  <div class="hours"></div>:<div class="minutes"></div>:<div class="seconds"></div>
<% end %>

<br>

<b>
  <%= @test_passage.current_question.description %>
</b>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :description, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= link_to 'Gist Question', test_passage_gists_path(@test_passage), method: :post %></p>
  <%= form.submit 'Next' %>
<% end %>
